@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;

}



body {
    background-color: white;
    min-height: 100vh;
    font-family: "DM Sans", sans-serif;
    font-size: 18px;

}

img {
    width: 100%;
    display: block;
}

.xlg {
    font-size: 4rem;
    font-weight: 500;
}

.lg-text {
    font-size: 3rem;
    font-weight: 500;
}

.med-text {
    font-size: 2rem;
    font-weight: 500;
}

.sm-text {
    font-size: 1.5rem;
    font-weight: 400;
}

.container {
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-rows: .5fr;
    grid-gap: 20px;
    grid-template-areas:
        "seven one one four"
        "seven two three four"
        "eight two three four"
        "eight six five five"
    ;
    /* overflow: hidden; */
    margin: 100px;
}

.item {
    padding: 30px;
    letter-spacing: -2px;
    line-height: 35px;
    border-radius: 10px;
}

.item:nth-child(1) {
    grid-area: one;
    background-color: hsl(256, 67%, 59%);
    color: white;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 40px;

    >.xlg {
        line-height: 55px;
    }

    >.sm-text {
        font-size: 18px;
        letter-spacing: normal;
        color: hsl(31, 66%, 93%);
    }



}


.item:nth-child(1) img {
    width: 195px;
    margin-top: 20px;
}

.item:nth-child(1) span {
    color: hsl(39, 100%, 71%);
}

.item:nth-child(2) {
    grid-area: two;
    border-radius: 10px;
    overflow: hidden;
}

.item:nth-child(2) p {
    padding-top: 10px;
    font-size: 35px;
}

.item:nth-child(2) img {
    width: 330px;
}

.item:nth-child(3) {
    grid-area: three;
    background-color: hsl(39, 100%, 71%);
    /* display: flex; */
    /* flex-direction: column; */
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.item:nth-child(3) img {
    width: 190px;
    height: 200px;
    position: absolute;
    margin-top: 20px;
}

.item:nth-child(3) p {
    font-size: 30px;
}

.item:nth-child(4) {
    grid-area: four;
    background-color: hsl(254, 88%, 90%);

    overflow: hidden;
}

.item:nth-child(4) img {
    width: 345px;
    margin: 15px 0;
    /* margin: 20px 0; */
}

.item:nth-child(4) p {
    letter-spacing: normal;
    line-height: 20px;
    font-size: 17px;
}

.item:nth-child(4) .lg-text {
    font-size: 35px;
}

.item:nth-child(5) {
    grid-area: five;
    background-color: hsl(256, 67%, 59%);
    display: flex;
    flex-direction: row;
    /* align-content: center; */
    border-radius: 10px;
}

.item:nth-child(5) p {
    align-content: center;
    font-size: 35px;
    /* margin-top: 20px; */
    color: white;
}

.item:nth-child(6) {
    grid-area: six;
}

.item:nth-child(6) span {
    display: block;
    margin-bottom: 15px;
}

.item:nth-child(6) img {
    width: 215px;
    margin-top: 15px;
    align-content: center;
}

.item:nth-child(7) {
    font-family: "DM Sans", sans-serif;
    letter-spacing: -2px;
    line-height: 35px;
    /* letter-spacing: -4px; */
    grid-area: seven;
    background-color: hsl(31, 66%, 93%);
    border-radius: 10px;
    /* padding: 60px 30px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.item:nth-child(7) p {
    /* margin-top: 30px; */
    font-size: 40px;
    margin-bottom: 15px;
}

.item:nth-child(7) img {
    width: 190px;
    /* margin: 0 30px; */
}

.item:nth-child(7) span {
    font-style: italic;
    color: hsl(256, 67%, 59%);
}

.item:nth-child(8) {
    grid-area: eight;
    background-color: hsl(39, 100%, 71%);
    border-radius: 10px;
}

.item:nth-child(8) p {
    line-height: 35px;
    font-size: 37px;
    letter-spacing: -2px;
}

.item:nth-child(8) img {
    padding-top: 40px;
}

@media screen and (max-width:500px) {
    /* *{
        margin: 0;
        padding: 0;

    } */

    .container {
        /* margin: 2rem 1rem; */
        margin: 20px;
        display: grid;
        text-align: center;
        grid-auto-columns: 335px;
        grid-template-areas:
            "one"
            "two"
            "three"
            "four"
            "five"
            "six"
            "seven"
            "eight"
        ;
    }

    .item:nth-child(1) p.xlg {
        font-size: 45px;
    }

    .item:nth-child(2) p {
        font-size: 25px;
        text-align: left;
    }

    .item:nth-child(3) {
        text-align: left;
        font-size: 24px;
    }

    .item:nth-child(3) img {
        height: 145px;

    }

    .item:nth-child(4) {
        overflow: unset;

        >.lg-text {
            font-size: 25px;
        }
    }

    .item:nth-child(4) img {

        width: 280px;
    }

    .item:nth-child(5) {
        display: flex;
        flex-direction: column;

        >p {
            font-size: 40px;
        }

    }

    .item:nth-child(6) {
        text-align: left;
    }

    .item:nth-child(7) {
        text-align: left;

        >P {
            font-size: 34px;
        }
    }

    .item:nth-child(8) {
        text-align: left;
    }
}
